.Error {
  display: flex;
  flex-direction: column;
  margin-left: auto;
   margin-right: auto;
}

.gif {
  width: 100%;
  z-index: 1
}

.errorRight {
  position: absolute;
   top: 90px;
   right: 16px;
}
.go-back {
   top: 90px;
   right: 16px;
   background-color: black;
   color: white;
   font-size: 25px
}
.errorBottom {
  position: absolute;
  top:60px;
  right: 16px
}
.error-div {
  display: flex;
  flex-direction: column
}
